@charset "UTF-8";

* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}
h3{
  font-size: 1rem;
}
p {
  margin-bottom: 5px;
}
span {
  font-size: 1rem;
  padding-right: 5px;
}
section {
  margin-bottom: 100px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.inner {
  max-width: 600px;
  margin: 0 auto;
}
.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00693a;
  margin-bottom: 15px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #00693a;
}
#header a{
  color: #f4f9ff;
}
#header h2 {
  font-weight: bold;
}
#header span {
  padding-right: 5px;
}
.site-title {
  font-weight: bold;
}
.information {
  text-align: right;
  color: #f4f9ff;
}

/*-------------------------------------------
Main-visual
-------------------------------------------*/
#main-visual {
  margin-bottom: 20px;
}
#main-visual img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  object-fit: cover;
}

/*-------------------------------------------
menu
-------------------------------------------*/
#menu {
  width: 80%;
  padding: 20px;
  margin: 0 auto 25px auto;
}
#menu a {
  color: #f4f9ff;
  font-size: 2rem;
  padding: 5px 20px;
  background-color: #00693a;
  border-radius: 50px;
}
#menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}
#menu li {
  list-style: none;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #a8a8a8;
  margin-bottom: 20px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #a8a8a8;
  padding: 15px;
}
#news dd {
  width: 80%;
  border-bottom: solid 1px #a8a8a8;
  padding: 15px;
}

/*-------------------------------------------
guidance
-------------------------------------------*/
h3 {
  padding-bottom: 10px;
}
#guidance li {
  padding-left: 20px;
  padding-bottom: 10px;
}

/*-------------------------------------------
doctor
-------------------------------------------*/
#doctor .content {
  display: flex;
  justify-content: center;
  align-items: start;
}
#doctor img{
  width: 50%;
  margin-right: 30px;
}
#doctor .content-title{
  margin-bottom: 10px;
}
#doctor span {
  line-height: 2;
}
#doctor p{
  line-height: 2;
}
/*-------------------------------------------
schedule
-------------------------------------------*/
table {
  width: 100%;
}
tr:first-child {
  background-color: #e6eec6;
  border-bottom: 2px solid #00693a;
}
th, td {
  padding: 10px;
}
th {
  border: 1px solid #00693a;
}
td {
  text-align: center;
  border: 1px solid #00693a;
}
/*-------------------------------------------
access
-------------------------------------------*/
#access .content {
  display: flex;
}
#access a {
  display: block;
  width: 100%;
}
#access dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}
#access dt {
  width: 30%;
}
#access dd {
  width: 70%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  background-color: #00693a;
  color: #f4f9ff;
  padding: 10px 0;
  text-align: center;
}
#footer p{
  margin: 0;
}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  .section-title {
    text-align: center;
  }
  .inner {
    padding: 0 40px;
  }
  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    display: block;
    height: 120px;
    padding: 10px 0 10px 0;
  }
  #header h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }
  #header h2{
    font-size: 1.5em;
  }
  .information {
    text-align: center;
    /* visibility: hidden; */
  }
  
  
  /*-------------------------------------------
  Main-visual
  -------------------------------------------*/
  #main-visual img {
    height: calc(100vh - 500px);
  }

  /*-------------------------------------------
  menu
  -------------------------------------------*/
  #menu {
    width: 100%;
    margin-bottom: 25px;
  }
  #menu a {
    font-size: 1em;
    padding: 5px 10px;
  }

  /*-------------------------------------------
  news
  -------------------------------------------*/
  #news dl {
    flex-direction: column;
  }
  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  #news dd {
    width: 100%;
    padding-top: 0;
  }

  /*-------------------------------------------
  doctor
  -------------------------------------------*/
  #doctor .content {
    flex-direction: column;
  }
  #doctor img {
    width: 100%;
    margin-bottom: 10px;
  }

  /*-------------------------------------------
  schedule
  -------------------------------------------*/
  th, td {
    padding: 5px;
  }
  /*-------------------------------------------
  access
  -------------------------------------------*/
  #access .content {
    flex-direction: column;
  }
  #access dl {
    margin-bottom: 20px;
  }
  dt, dd {
    padding: 5px;
  }
  #access a {
    display: block;
    width: 100%;
  }
}